html {
  font-family: 'Roboto Mono', monospace;;
  font-size: 62.5%;
}

nav {
  /* width: 100%; */
  display: inline-block;
}

nav a {
  /* padding: 5% 5%; */
  text-align: center;
  /* display: inline-block; */
  width: 5%;
  margin: 5% 5%;
  color: white;
  font-size: 1.5rem;
  /* max-width: 10%; */
}

.nav-plan {
  background-color: #FF764E;
}

.nav-learn {
  background-color: #5ED3EB;
}

.nav-involve {
  background-color: #FFCD69;
}

#header-img {
  border-radius: 50%;
  width: 30%;
  height: auto;
  margin: 0% 1%;
}

#header-text {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  width: 65%;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 6rem;
}

.header-item {
  margin: 16% 3%;
}
